.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weatherCards {
    display: flex;
}

.name{
    font-size: 24px;
    font-weight: 700;
}