.weatherCard {
    margin: 1rem;
    border-radius: 10px;
    width: 200px;
    height: 320px;
    background-color: rgba($color: #e7e7e7, $alpha: 1.0);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s;

    &:hover {
        transform: scale(1.1);
        transition: .3s;
        border: 1px solid #000000;
        cursor: pointer;
    }

    img {
        max-width: 100px;
    }

    .day {
        font-size: 24px;
        font-weight: 700;
    }
    
    .tempCurrent {
        font-size: 24px;
        font-weight: 600;
    }
    
    .tempMinMax {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    
    .tempMin {
        font-size: 18px;
        font-weight: 600;
        color: rgba($color: #a0a0a0, $alpha: 1.0);
    }
    
    .tempMax{
        font-size: 18px;
        font-weight: 600;
        color: rgba($color: #525252, $alpha: 1.0);

    }
}

